@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: fixed;
  z-index: 102;
  top: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}
.navbar-container {
  margin: 0 auto;
  width: clamp(250px, 100%, 1200px);
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.navbar-links {
  display: flex;
  gap: 12px;
  align-items: center;
}
.navbar-link {
  transition: all 0.35s;
}
.navbar-link:hover {
  color: #cccccc;
}
.navbar-delimiter {
  width: 1px;
  height: 40px;
  background-color: #cccccc;
}
.navbar-logo {
  width: 34px;
}
.navbar-contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}
.navbar-time {
  color: #cccccc;
}
.navbar-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar-mobile {
    display: flex;
    position: fixed;
    z-index: 103;
    left: -100%;
    top: 64px;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .navbar-delimiter {
    display: none;
  }
  .navbar-mobile.active {
    left: 0;
  }
  .navbar-mobile-link {
    color: #000000;
    font-size: 20px;
    padding: 10px;
  }
  .navbar-mobile-link:visited {
    color: #000000;
  }
  .navbar-link {
    display: none;
  }
  .navbar-time {
    display: none;
  }
}

.subnavbar {
  position: fixed;
  z-index: 102;
  top: 66px;
  width: 100%;
  display: flex;
  padding: 15px 60px;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #ffffff;
}
.subnavbar-links {
  display: flex;
  align-items: center;
  gap: 55px;
}
.subnavbar-link {
  transition: all 0.35s;
}
.subnavbar-link:hover {
  color: #cccccc;
}

.hamburger {
  display: none;
}
.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #cccccc;
}
@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .hamburger-bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .hamburger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .hamburger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: #696767;
  border-radius: 10px;
  border: none;
}

.title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.section {
  width: 100vw;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: clamp(250px, 100%, 1000px);
  margin: 0 auto;
}

.footer {
  position: relative;
  z-index: 11;
  width: 100vw;
  padding: 35px 0;
  background-color: #000000;
  color: #cccccc;
}
.footer-list {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-title {
  font-size: 21px;
  font-weight: 500;
  color: #ffffff;
}
.footer-link {
  transition: all 0.35s;
}
.footer-link:hover {
  color: #ffffff;
}
.footer-delimiter {
  margin-top: 25px;
  width: 100%;
  height: 1px;
  background-color: #505050;
}
.footer-bottom {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 1020px) {
  .footer {
    padding: 35px 15px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 35px 10px;
  }
  .footer-list {
    flex-direction: column;
    gap: 15px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
  }
  .footer-rights {
    order: 1;
  }
  .footer-contacts {
    font-size: 14px;
    order: 0;
  }
}

section {
  min-height: 90vh;
}

.container {
  padding: 40px 10px;
}

.title {
  font-size: 28px;
}

.subtitle {
  margin-top: 25px;
  font-size: 24px;
  line-height: 36px;
}

.text {
  margin-top: 8px;
  font-size: 19px;
  line-height: 22px;
}

.bold {
  display: inline-block;
  font-size: 21px;
  margin-top: 25px;
  line-height: 26px;
}/*# sourceMappingURL=info.css.map */